@media screen and (min-width: 428px) {
    .container {
        max-width: 428px;
    }
}

/* ------------ table -------------- */
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }

    /*-------- header------ */

    .header-menu-btn {
        display: none;
    }

    .header-list {
        display: flex;
        gap: 40px;
    }

    .header-address {
        display: inline;
    }

    .footer-input-text {
        margin-top: 48px;
    }


    /* -------------- hero ---------------- */
    .hero-logo {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-bottom: 36px;
    }

    /* ---------- strategy -------------- */
    .description-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;

    }

    .description-item {
        max-width: 356px;
        text-align: start;

    }

    .description-item-title {
        text-align: start;
    }

    .description-item-text {
        text-align: start;
    }

    /*---------------- team --------------- */
    .team-list {
        gap: 64px 24px;
    }

    /* ----------- customers ------------- */
    .customers-list {
        gap: 72px 24px;
    }

    .customers-item {
        width: 168px;

    }

    /*---------------- footer --------------- */
    .footer-container {
        display: flex;
        align-items: start;
        justify-content: start;
        text-align: start;
        flex-wrap: wrap;
        gap: 24px;
        padding-left: 100px;

    }

    .footer-text {
        max-width: 264px;
    }

    .footer-social-media {
        margin: 0;
        text-align: start;
    }

    .footer-media-logo {
        text-align: start;
    }

    .footer-input {
        text-align: start;
    }

    .footer-input-email {
        width: 264px;
    }

    .footer-input-form {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .footer-form {
        margin-bottom: 0;
    }

}

/* ----- computer --------- */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;


    }

    /* ---------- header -------- */



    .header-container {
        justify-content: start;
    }

    .header-nav {
        margin-left: 76px;
    }

    .header-list {}

    .header-address {
        margin-left: auto;
    }

    .header-address-list {
        display: flex;
        gap: 40px;
    }

    .header-mail-phone {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.32px;
    }

    /*-------------- footer ------------ */



    .footer {
        background-color: #2E2F42;
        padding: 100px 0;
    }

    .footer-container {
        flex-wrap: nowrap;
        justify-content: center;
        padding: 0;
        gap: 0;

    }


    .footer-text {
        min-width: 268px;
    }

    .footer-social-media {
        margin-left: 120px;
        margin-top: 0;
    }

    .footer-social-media {
        margin-top: 0;
        text-align: start;
    }

    .footer-input {
        margin-left: 80px;
    }


    .footer-input-text {
        margin-top: 0;
    }

    .footer-input-form {
        gap: 24px;
    }
}